*{
    padding: 0;
    margin: 0;
}

html, body {
    font-family:Georgia, serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url("https://wallpapercat.com/w/full/e/c/6/950708-3840x2160-desktop-4k-mcu-background-photo.jpg");
}

header{
    color: white;
    background-color: #091d38;
    text-align: center;
    padding:10px 5px 5px 5px;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 50px 40px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.twitter{
    height: 25px;
    width: 25px;
    border-radius: 30px;
    border:2px  solid yellow;
}
.facebook{
    height: 25px;
    width: 25px;
    border-radius: 30px;
    border:2px  solid yellow;
}
.github{
    height: 25px;
    width: 25px;
    border-radius: 30px;
    border:2px  solid yellow;
}
.side{
    display: inline-flex;
    justify-content:right;
    gap:10px;
    padding: 5px;
}
@media (min-width: 786px){
    .container{
        height: auto;
        font-size: 13px;
        padding: 5px 0px 2px 0px;
        margin:0;
        transform: translate(-50% , -30%);
        border:none;
    }
    #para{
        margin: 0px;
        color:rgb(218, 166, 103);
        font-size: 18px;
    }
    #para2{
        color: rgb(218, 166, 103);
        font-size: 15px;
    }
}
@media (max-width: 786px){
    .container{
        height: auto;
        font-size: 11px;
        padding: 5px 0px 2px 0px;
        margin:0;
        transform: translate(-50% , -30%);
        border:none;
    }
    header{
        height: auto;
        margin-top: 2px;
        display: flex;
        flex-wrap: wrap;
    }
    #head{
        font-size: 12px;
    }
    #para{
        margin: 0px;
        color: rgb(218, 166, 103);
        font-size: 11px;
    }
    #para2{
        color: rgb(218, 166, 103);
        font-size: 8px;
    }
    .twitter{
        height: 18px;
        width: 18px;
        border-radius: 30px;
        border:2px  solid yellow;
    }
    .facebook{
        height: 18px;
        width:18px;
        border-radius: 30px;
        border:2px  solid yellow;
    }
    .github{
        height: 18px;
        width: 18px;
        border-radius: 30px;
        border:2px  solid yellow;
    }
} 


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    position:absolute;
    top: 50%;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50% , -40%);
    width: 80%;
    height: auto;
    padding: 40px 20px 20px 20px;
    background-color: #2b8d9e;
    max-width: 500px;
    border-radius: 20px;
    border:solid 10px whitesmoke;
    text-align: center;
    box-shadow: 50px 40px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer{
    color: white;
    text-align:center;
    background-color: black;
    padding-top: 5px;
    margin-top:50px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: -50px -40px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
    text-decoration: none;
    color: yellow;
}

input {
    text-align: center;
    border: none;
    font-size: 15px;
    font-family: Georgia, serif;
}

#characterName{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border:solid #091d38;
}

button {
    margin:15px;
    padding: 10px 40px;
    font-size: 15px;
    background-color: #091d38;
    cursor: pointer;
    color: white;
    box-shadow: #367890;
    border: none;
    border-radius: 10px;
    font-family: Georgia, serif;

}

button:hover {
    background-color: orange;
    color: black;
}
