body {
    font-family: Arial, sans-serif;
    background-color: #984447;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image:url("https://wallpapercat.com/w/full/e/c/6/950708-3840x2160-desktop-4k-mcu-background-photo.jpg");
}

.container {
    text-align: center;
    background-color: #468C98;
    padding: 100px;
    border-radius: 20px;
    font-size: 40px;

}

input {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    width: 90%;
    border: none;
    border-radius: 20px;

}

button {
    margin:50px;
    padding: 10px 40px;
    font-size: 30px;
    background-color: #476C9B;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: yellow;

}


#characterInfo {
    margin-top: 20px;
}

.character-card {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #240000;
    width: 300px;

}


.character-card img {
    width: 100%;
    border-radius: 5px;

}

.character-card p {
    color:#777;
}



