body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #e62429;
    column-rule-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #b71c1c;

}


#characterInfo {
    margin-top: 20px;
}

.character-card {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 300px;

}


.character-card img {
    width: 100%;
    border-radius: 10px;

}

.character-card p {
    color:#777;
}


